.button, .label, .textarea, .textfield {
    font-name: "${fonts.normal.name}";
    font-size: ${fonts.normal.size};
}

.button:native {
    background: none;
    border: none;
    border-radius: none;
}

.progress:native, .slider:native {
    background: none;
    border: none;
    border-radius: none;
    filter: none;
    color: none;
    width: auto;
    height: auto;
}

.textfield:native {
    border: none;
    border-radius: none;
    filter: none;
    color: none;
    background-color: none;
    width: auto;
    height: auto;
}

.numberstepper:native {
    border: none;
    border-radius: none;
    filter: none;
    color: none;
    background-color: none;
    width: 70px;
    height: 20px;
}

.textarea:native {
    border: none;
    border-radius: none;
    filter: none;
    color: none;
    background-color: none;
    font-name: "Arial";
    font-size: 13px;
}

.component:disabled {
    cursor: not-allowed;
}