<?xml version="1.0" encoding="utf-8" ?>
<module id="haxeui-html5" priority="-1">
    <resources>
        <resource path="/haxe/ui/backend/html5/_module/styles" prefix="styles" />
    </resources>
    <themes>
        <global>
            <style resource="styles/main.css" />
        </global>
        <default>
            <style resource="styles/default/main.css" />
        </default>
        <native>
            <style resource="styles/native/main.css" />
        </native>
    </themes>

    <loaders>
        <image-loaders>
            <image-loader prefix="svg" pattern="^&lt;svg.*&gt;.*&lt;\/svg&gt;$" class="haxe.ui.backend.html5.loaders.image.SvgImageLoader" singleInstance="true" />
        </image-loaders>
    </loaders>

    <cssExtensions>
        <cssDirective name="clip-path" class="haxe.ui.backend.html5.css.directives.ClipPath" />
        <cssDirective name="rotation" class="haxe.ui.backend.html5.css.directives.Rotate" />
    </cssExtensions>

    <properties>
        <property name="haxe.ui.containers.menus.menubar.style" value="rounded" />
        <property name="haxe.ui.containers.menus.menu.style" value="rounded" />
        <property name="haxe.ui.components.pickers.itempicker.style" value="rounded" />
    </properties>
</module>