<?xml version="1.0" encoding="utf-8" ?>
<module id="haxeui-html5" priority="-1">
    <resources>
        <resource path="/haxe/ui/backend/html5/_module/styles" prefix="styles" />
    </resources>
    <themes>
        <global>
            <style resource="styles/main.css" />
        </global>
        <default>
            <style resource="styles/default/main.css" />
        </default>
        <native>
            <style resource="styles/native/main.css" />
        </native>
    </themes>

    <properties>
        <property name="haxe.ui.containers.menus.menubar.style" value="rounded" />
        <property name="haxe.ui.containers.menus.menu.style" value="rounded" />
    </properties>
</module>